body{
    margin: 0rem;
}
.banner{
    display: flex;
    background-color: brown;
    width: 100vw;
    height: 4rem;
    gap: 2rem;
}
.banner__logo{
    display: inline;
    height: 4rem;
    margin-left: 2rem;

}

.banner__heading{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    margin: auto;
    width: 40rem;
    height: 2rem;
    border: 1px solid black;
    margin-top: 15vh;
    color: brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn-generate{
    background-color: brown;
    color: white;
    margin-left: 48vw;
    margin-top: 2vh;
    border-style: none;
    padding: 7px;
    border: 1px solid brown;
    border-radius: 7px;
}